#page-capas-details {
  display: flex;
  min-height: 100vh;
}

main {
  flex: 1;
}

.capa-container footer p {
  color: #0089A5;
  text-decoration: none;
  font-weight: bold;
}

.social {
  margin: 0 0 4rem;
  border-radius: 2rem;
}

.social h2 {
  color: #0089A5;
  text-align: center;
  line-height: 1.5;
}

.btn-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}

.btn-socials .whatsapp {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background: #4de05d;
  padding: 2rem;
  border-radius: 10px;
}

.btn-socials .facebook {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background: #4064ac;
  padding: 2rem;
  border-radius: 10px;
}

.btn-socials .twitter {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background: #29a4d9;
  padding: 2rem;
  border-radius: 10px;
}